body {
    /* gradient background #ffafbd to #ffc3a0 */
    background-image: linear-gradient(to right, #8BC6EC 0%, #9599E2 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.line-black{
    border-bottom: 1px solid #000;
}

.home-page-body{
    background-color: #f2f2f2;
    margin-top: 15%;
    margin-bottom: 10%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
    width: 80%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.booking-menu{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 25% 25% 21% 20%;
    grid-template-rows: 40% 60% 20%;
    grid-gap: 10px;
    margin-bottom: 10%;
}

#booking-menu-title{
    grid-column: 1;
    grid-row: 1;
    font-size: 14px;
    color: rgb(0, 65, 112);
}

.form-from-input{
    grid-column: 1;
    grid-row: 2;
}

.form-to-input{
    grid-column: 2;
    grid-row: 2;
}

.form-depart-date{
    grid-column: 3;
    grid-row: 2;
}

.form-return-date{
    grid-column: 4;
    grid-row: 2;
}

.form-check-input{
    grid-column: 1;
    grid-row: 3;
    margin-top: -5%;
    /* center */
}

.form-submit{
    grid-column: 2;
    grid-row: 3;
}

.form-search-btn{
    margin-top: -5%;
    margin-left: 40%;
    /* center */
    width: 120%;
}

.flight-listing-panel{
    margin-top: 10%;
    margin-bottom: 5%;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #888888;
    width: 80%;
}

.flight-listing-notfound{
    /* text center */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    margin-top: 8%;
    color: rgb(0, 65, 112);
    margin-bottom: 10%;
}

#flight-listing{
    background-color: #ffffff;
    border-radius: 3px;
    color: #000;
    box-shadow: 0px 0px 10px #888888;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    display: grid;
    border-color: #918d8d;
    border-style: solid;
    border-width: 1px;
}
/* 
#flight-listing-title{
    margin-left: 5%;
} */

.flight-listing-depart{
    grid-column: 1;
    grid-row: 2;
    font-size: 14px;
    margin-left: 1%;
    color: rgb(0, 65, 112);
}

.flight-listing-btn{
    grid-column: 1;
    grid-row: 3;
    margin-left: 1%;
}

.flight-listing-price{
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flight-listing-status{
    grid-column: 2;
    grid-row: 1;
    background-color: green;
}

#flight-listing-status-title{
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 6%;
}


.card-listing-info{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 30% 25% 10% 15%;
}

.flight-detail-container{
    margin-top: 10%;
    margin-bottom: 5%;
    background-color: #f2f2f2;
    width: 80%;
    margin-left: 10%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #888888;
}

.flight-detail-body{
    background-color: #ffffff;
    border-radius: 3px;
    color: #000;
    box-shadow: 0px 0px 0px 0px #888888;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 20px 30px 20px 20px;
    border-color: #918d8d;
    border-style: solid;
    border-width: 1px;
}

.flight-detail-type-body{
    grid-column: 1;
    grid-row: 1;
    font-size: 14px;
    margin-left: 1%;
    color: rgb(0, 65, 112);
}

.flight-detail-flightcode-body{
    grid-column: 1;
    grid-row: 2;
    font-size: 14px;
    margin-left: 1%;
    color: rgb(0, 65, 112);
}

.flight-detail-origincountry-body{
    grid-column: 1;
    grid-row: 3;
    font-size: 14px;
    margin-left: 1%;
    color: rgb(0, 65, 112);
}

.flight-detail-originairport-body{
    grid-column: 1;
    grid-row: 4;
    font-size: 14px;
    margin-left: 1%;
    color: rgb(0, 65, 112);
}

.card-title{
    margin-left: 5%;
}

.login-container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0px rgb(116, 116, 116);
    overflow: hidden;
}
.login-form{
    padding-top: 7%;
    padding-bottom: 12%;
}
#reset-password-btn{
    /* float right */
    float: right;
    margin-right: 5%;
}
#rmb-me-checkbox{
    float: left;
    margin-left: 5%;
}
.page-header {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    overflow: hidden;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #fff;
    border: none;
    box-shadow: 3px 3px 10px 0px rgb(116, 116, 116);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}


.register-info {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: none;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.display-1 {
    color: rgb(32, 64, 133);
}

.register-form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0px rgb(116, 116, 116);
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    padding-top: 5px;
}

.display-2 {
    padding-left: 3%;
}

#btn-container {
    padding-bottom: 10px;
}

.form-information {
    font-size: 10px;
}

#username{
    margin-bottom: 5%;
}

#nav-username-item{
    margin-top: 7%;
}

.profile-panel{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.profile-panel-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.profile-panel-info{
    grid-column: 1;
    margin-top: -5%;
}

.profile-panel-pfp{
    grid-column: 2;
    margin-top: -5%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 70% 10% 20%;
}

#profile-panel-pic{
    grid-column: 2;
    grid-row: 1;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8%;
}

#avatar{
    grid-column: 2;
    grid-row: 2;
    margin-left: auto;
    margin-right: auto;
}

#change-pic-btn{
    grid-column: 2;
    grid-row: 3;
    margin-top: 2%;
}

#profile-pic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.footer-clean {
    padding: 50px 0;
    background-color: #fff;
    color: #4b4c4d;
    box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}