@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
    /* gradient background #ffafbd to #ffc3a0 */
    background-image: linear-gradient(to right, #8BC6EC 0%, #9599E2 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.line-black {
    border-bottom: 1px solid #000;
}

.home-page-body {
    background-color: #f2f2f2;
    margin-top: 15%;
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
    width: 80%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.booking-menu {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 30% 30% 20% 20%;
    grid-template-rows: 40% 60% 20%;
    grid-gap: 10px;
    margin-bottom: 10%;
}

#booking-menu-title {
    grid-column: 1;
    grid-row: 1;
    font-size: 14px;
    color: rgb(0, 65, 112);
}

.promotion-table{
    background-color: #f2f2f2;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.form-from-input {
    grid-column: 1;
    grid-row: 2;
}

.form-to-input {
    grid-column: 2;
    grid-row: 2;
}

.form-depart-date {
    grid-column: 3;
    grid-row: 2;
}

.form-return-date {
    grid-column: 4;
    grid-row: 2;
}

.form-check-input {
    grid-column: 1;
    grid-row: 3;
    margin-top: -5%;
    /* center */
}

.form-submit {
    grid-column: 2;
    grid-row: 3;
}

.form-search-btn {
    margin-top: -5%;
    margin-left: 5%;
    /* center */
    width: 120%;
}


.flight-listing-panel {
    margin-top: 10%;
    margin-bottom: 5%;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #888888;
    width: 80%;
}

.flight-detail-return-listing-panel{
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #888888;
    width: 80%;
    margin-bottom: 5%;
}

.flight-listing-notfound {
    /* text center */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    margin-top: 8%;
    color: rgb(0, 65, 112);
    margin-bottom: 10%;
}

#flight-listing {
    background-color: #ffffff;
    border-radius: 3px;
    color: #000;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    display: grid;
    border-color: #918d8d;
    border-style: solid;
    border-width: 1px;
}

/* 
#flight-listing-title{
    margin-left: 5%;
} */

.flight-listing-depart {
    grid-column: 1;
    grid-row: 2;
    font-size: 14px;
    margin-left: 6%;
    color: rgb(0, 65, 112);
}

.flight-listing-btn {
    grid-column: 1;
    grid-row: 3;
    margin-left: 6%;
}

.flight-listing-price {
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flight-listing-status {
    grid-column: 2;
    grid-row: 1;
    background-color: green;
}

#flight-listing-status-title {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 6%;
}


.card-listing-info {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 30% 25% 10% 15%;
}

.flight-detail-container {
    margin-bottom: 5%;
    padding-top: 1%;
    background-color: #f2f2f2;
    width: 80%;
    margin-left: 10%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #888888;
}


.flight-detail-body {
    background-color: #ffffff;
    border-radius: 3px;
    color: #000;
    box-shadow: 0px 0px 0px 0px #888888;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 30% 20% 30% 20%;
    grid-template-rows: 20% 20% 30% 40%;
    border-color: #918d8d;
    border-style: solid;
    border-width: 1px;
}

.flight-detail-type-body {
    grid-column: 1;
    grid-row: 1;
    font-size: 14px;
    margin-top: -1%;
    margin-left: 1%;
    color: rgb(0, 65, 112);
}

.flight-detail-flightcode-body {
    grid-column: 1;
    grid-row: 2;
    font-size: 30px;
    margin-top: -2%;
    margin-bottom: -3%;
    margin-left: -4%;
    color: rgb(0, 65, 112);
}

.flight-detail-origin-body {
    grid-column: 1;
    grid-row: 3;
    font-size: 14px;
    margin-left: 2%;
    color: rgb(0, 65, 112);
}

#originCountry {
    font-size: 30px;
}

#originAirport {
    font-size: 20px;
    color: #4b4c4d;
}

.flight-detail-destination-body {
    grid-column: 3;
    grid-row: 3;
    font-size: 14px;
    margin-left: 2%;
    color: rgb(0, 65, 112);
}

#destinationCountry {
    font-size: 30px;
}

#destinationAirport {
    font-size: 20px;
    color: #4b4c4d;
}

.flight-detail-to-box {
    grid-column: 2;
    grid-row: 3;
    width: 100%;
    margin-top: 10%;
}

.flight-detail-book-economy {
    grid-column: 4;
    grid-row: 1;
    width: 100%;
    margin-left: 1%;
    background-color: green;
    border-radius: 3px;
    border-color: #4b4c4d;
    margin-top: 1%;
    cursor: pointer;
    text-align: center;
    line-height: 15px;
    color: white;
}

.flight-detail-book-business {
    grid-column: 4;
    grid-row: 2;
    width: 100%;
    margin-left: 1%;
    background-color: rgb(47, 0, 128);
    border-radius: 3px;
    border-color: #4b4c4d;
    margin-top: 1%;
    text-align: center;
    cursor: pointer;
    line-height: 15px;
    color: white;
}

#flight-booking-economy-btn-s {
    font-size: 16px;
    color: #ffffff;
}

#flight-booking-business-btn-s {
    font-size: 16px;
    color: #ffffff;
}

#flight-detail-plane-icon {
    /* float center */
    margin-left: 30%;
    /* make the size bigger */
    width: 50px;
    height: 50px;
}

#flight-detail-to-line {
    border-top-color: #000;
    z-index: 2;
    position: absolute;

}

#flight-detail-line-bottom {
    width: 80%;
    margin-left: 10%;
    margin-top: -3%;
    padding-bottom: 1px;
}

#flight-detail-line-top {
    width: 80%;
    margin-left: 10%;
    margin-top: -2%;
    padding-top: 5px;
}

.flight-notloggedin-error-body{
    margin-top: 10%;
    color: red;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.flight-detail-image-box{
    grid-column: 1;
    grid-row: 4;
    /* center the image */
    margin-left: 18%;
    margin-top: -3%;
    padding-bottom: 5%;
}

#flight-detail-seat-title{
    margin-left: -15%;
}

#flight-detail-seat-image{
    width: 600px;
    height: 225px;
    box-shadow: #8b8b8b 0px 0px 1px;
}

.booking-main-title{
    margin-left: 5%;
}

.booking-body {
    background-color: #fff;
    border-radius: 3px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    box-shadow: 0px 0px 0px 1px #888888;
    margin-top: 10%;
}

.booking-personal-details {
    border-color: #4b4c4d;
    border-width: 1px;
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 320px 320px ;
    grid-template-rows: 60px 60px 60px 50px 50px;
    /* grid-template-rows: 20% 20% 20% 20% 20%; */
}

#booking-title {
    grid-column: 1;
    grid-row: 1;
    font-size: 20px;
    margin-top: -2%;
    margin-left: 2%;
    color: rgb(0, 65, 112);
}

#booking-first-name {
    grid-column: 1;
    grid-row: 2;
    font-size: 14px;
    margin-top: -1%;
    margin-left: 1%;
    color: rgb(0, 65, 112);
}



@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
    font-family: "Roboto";
}

.title{
    grid-row: 1;
    grid-column: 1;
    margin-left: 20%;
}

.booking-input{
    grid-row: 2;
    grid-column: 1;
}

.booking-firstname{
    grid-row: 1;
    grid-column: 1;
    margin-left: 10%;
}

.booking-lastname{
    grid-row: 1;
    grid-column: 2;
    margin-left: 10%;
}

.booking-passport{
    grid-column: 1;
    grid-row: 2;
    margin-left: 10%;
}

.booking-nationality{
    grid-column: 2;
    grid-row: 2;
    margin-left: 10%;
}

.booking-age{
    grid-column: 1;
    grid-row: 3;
    margin-left: 10%;
}

#booking-age-input{
    margin-top: 10%;
    width: 130%;
    text-align: center;
}

#booking-submit-btn{
    grid-column: 1/ span 2;
    grid-row: 4;
    cursor: pointer;
    border-radius: 10px;
    background-color: #1e4bd1;
    text-align: center;
    width: 40%;
    margin-left: 28%;
}

.booking-btn:hover{
    color: #ffffff;
}

.booking-btn{
    color: #ffffff;
    
}

.booking-btn-title{
    margin-top: -2%;
}

div.booking-options-body {
    justify-content: space-around;
    margin-top: 30px;
    border: 1px solid rgb(215, 215, 215);
    padding-top: 2%;
    padding-left: 5%;
    border-radius: 4px;
    margin-bottom: 1%;
    width: 80%;
    display: grid;
    grid-template-columns: 30% 30% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

:root {
    --omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
    --omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
    --omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
    --omrs-color-interaction: #1e4bd1;
    --omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
    --omrs-color-danger: #b50706;
    --omrs-color-bg-low-contrast: #eff1f2;
    --omrs-color-ink-high-contrast: #121212;
    --omrs-color-bg-high-contrast: #ffffff;

}

/** END: Non Openmrs CSS **/
div.omrs-input-group {
    margin-bottom: 1rem;
    position: relative;
    width: 80%;
}

/* Input*/
.omrs-input-underlined>input,
.omrs-input-filled>input {
    border: none;
    border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
    width: 100%;
    /* height: 2rem; */
    font-size: 1.8rem;
    padding-left: 0.875rem;
    line-height: 147.6%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.omrs-input-underlined>input:focus,
.omrs-input-filled>input:focus {
    outline: none;
}

.omrs-input-underlined>.omrs-input-label,
.omrs-input-filled>.omrs-input-label {
    position: absolute;
    top: 0.9375rem;
    left: 0.875rem;
    line-height: 147.6%;
    color: var(--omrs-color-ink-medium-contrast);
    transition: top .2s;
}

.omrs-input-underlined>svg,
.omrs-input-filled>svg {
    position: absolute;
    top: 0.9375rem;
    right: 0.875rem;
    fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined>.omrs-input-helper,
.omrs-input-filled>.omrs-input-helper {
    font-size: 0.9375rem;
    color: var(--omrs-color-ink-medium-contrast);
    letter-spacing: 0.0275rem;
    margin: 0.125rem 0.875rem;
}

.omrs-input-underlined>input:hover,
.omrs-input-filled>input:hover {
    background: var(--omrs-color-interaction-minus-two);
    border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined>input:focus+.omrs-input-label,
.omrs-input-underlined>input:valid+.omrs-input-label,
.omrs-input-filled>input:focus+.omrs-input-label,
.omrs-input-filled>input:valid+.omrs-input-label {
    top: 0;
    font-size: 0.9375rem;
    margin-bottom: 32px;
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus+.omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger)>input:focus+.omrs-input-label {
    color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus,
.omrs-input-filled:not(.omrs-input-danger)>input:focus {
    border-color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus~svg,
.omrs-input-filled:not(.omrs-input-danger)>input:focus~svg {
    fill: var(--omrs-color-ink-high-contrast);
}

/** DISABLED **/

.omrs-input-underlined>input:disabled {
    background: var(--omrs-color-bg-low-contrast);
    cursor: not-allowed;
}

.omrs-input-underlined>input:disabled+.omrs-input-label,
.omrs-input-underlined>input:disabled~.omrs-input-helper {
    color: var(--omrs-color-ink-low-contrast);
}

.omrs-input-underlined>input:disabled~svg {
    fill: var(--omrs-color-ink-low-contrast);
}


/** DANGER **/

.omrs-input-underlined.omrs-input-danger>.omrs-input-label,
.omrs-input-underlined.omrs-input-danger>.omrs-input-helper,
.omrs-input-filled.omrs-input-danger>.omrs-input-label,
.omrs-input-filled.omrs-input-danger>.omrs-input-helper {
    color: var(--omrs-color-danger);
}

.omrs-input-danger>svg {
    fill: var(--omrs-color-danger);
}

.omrs-input-danger>input {
    border-color: var(--omrs-color-danger);
}

.omrs-input-underlined>input {
    background: var(--omrs-color-bg-high-contrast);
}

.omrs-input-filled>input {
    background: var(--omrs-color-bg-low-contrast);
}

/* omrs end */

.card-title {
    margin-left: 5%;
}

.login-container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0px rgb(116, 116, 116);
    overflow: hidden;
}

.login-form {
    padding-top: 7%;
    padding-bottom: 12%;
}

#reset-password-btn {
    /* float right */
    float: right;
    margin-right: 5%;
}

#rmb-me-checkbox {
    float: left;
    margin-left: 5%;
}

.page-header {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    overflow: hidden;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #fff;
    border: none;
    box-shadow: 3px 3px 10px 0px rgb(116, 116, 116);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}


.register-info {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: none;
    width: 80%;
}

.display-1 {
    color: rgb(32, 64, 133);
    margin-left: 15%;
}

.register-form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0px rgb(116, 116, 116);
    margin-left: 15%
}

.form-group {
    padding-top: 5px;
}

.display-2 {
    padding-left: 3%;
}

#btn-container {
    padding-bottom: 10px;
}

.form-information {
    font-size: 10px;
}

#username {
    margin-bottom: 5%;
}

#nav-username-item {
    margin-top: 4.5%;
}

#nav-shoppingcart-item {
    margin-top: 1.5%;
}

#shoppingcart-count{
    background-color: #c7c7c7;
    /* make the background a circle */
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
}

.shoppingcart-box{
    margin-top: 10%;
    margin-bottom: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0px rgb(116, 116, 116);
    overflow: hidden;
}

.shoppingcart-empty-title{
    text-align: center;
}

.shoppingcart-box-title{
    margin-top: 3%;
    margin-left: 5%;
}

.shoppingcart-header-line-separator{
    width: 80%;
    margin-left: 10%;
}

.shoppingcart-item-box{
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 2%;
    width: 80%;
    box-shadow: #888888 0px 0px 2px;
    display: grid;
    grid-template-columns: 30% 25% 30% 15%;
    grid-template-rows: 30px 30px 30px 30px;
}

.shoppingcart-total-title{
    margin-left: 75%;
}

.shoppingcart-OriginCountry{
    grid-column: 1;
    grid-row: 1;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 65, 112);
}

.shoppingcart-DestinationCountry{
    grid-column: 3;
    grid-row: 1;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 65, 112);
}

.shoppingcart-OriginAirport{
    grid-column: 1;
    grid-row: 2;
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
    color: #4b4c4d;
}

.shoppingcart-DestinationAirport{
    grid-column: 3;
    grid-row: 2;
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
    color: #4b4c4d;
}

.shoppingcart-embarkDate{
    grid-column: 1;
    grid-row: 4;
    margin-top: 2%;
    text-align: center;
    font-size: 16px;
    color: #4b4c4d;
}

.shoppingcart-reachDate{
    grid-column: 3;
    grid-row: 4;
    margin-top: 2%;
    text-align: center;
    font-size: 16px;
    color: #4b4c4d;
}

.shoppingcart-to-box{
    grid-column: 2;
    grid-row: 2;
    margin-left: 8%;
}

.shoppingcart-travelTime{
    grid-column: 2;
    grid-row: 4;
    margin-top: 2%;
    margin-left:13%;
    font-size: 16px;
    color: #4b4c4d;
}

.shoppingcart-flightCode{
    grid-column: 4;
    grid-row: 1;
    margin-top: 2%;
    text-align: center;
    font-size: 26px;
    color: #333434;
}

.shoppingcart-seattype{
    grid-column: 4;
    grid-row: 3;
    margin-top: 2%;
    text-align: center;
    font-size: 16px;
    color: #333434;
}

.shoppingcart-price{
    grid-column: 4;
    grid-row: 4;
    margin-top: 2%;
    text-align: center;
    font-size: 16px;
    color: #333434;
}

.shoppingcart-Username{
    font-size: 20px;
    margin-left: 10%;
}

.shoppingcart-btn-text{
    color: white;
}
.shoppingcart-btn-text:hover{
    color: white;
}

.shoppingcart-btn{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 79, 216);
    border-radius: 3px;
    border-color: #4b4c4d;
    margin-top: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2%;
    text-align: center;
    cursor: pointer;
    line-height: 15px;
    color: white;
}

.shoppingcart-promo-title{
    margin-left: 10%;
}

.shoppingcart-addpromo{
    margin-left: 10%;
}

.shoppingcart-promo-submit-btn{
    margin-left: 5px;
    margin-bottom: 2px;
}

.profile-panel {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    box-shadow: #888888 0px 0px 2px;
}

.profile-panel-booking{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    box-shadow: #888888 0px 0px 2px;
    margin-bottom: 5%;
}

.profile-panel-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.profile-panel-info {
    grid-column: 1;
    margin-top: -5%;
    text-align: center;
}


#profile-panel-flights-title{
    grid-column: 1/ span 2;
    margin-left: -25%;
    font-size: 26px;
    color: #4b4c4d;
}

.profile-panel-pfp {
    grid-column: 2;
    margin-top: -5%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 70% 10% 20%;
}

#profile-panel-pic {
    grid-column: 2;
    grid-row: 1;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8%;
}

#avatar {
    grid-column: 2;
    grid-row: 2;
    margin-left: auto;
    margin-right: auto;
}

#change-pic-btn {
    grid-column: 2;
    grid-row: 3;
    margin-top: 2%;
}

#profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.adminpanel-html-body{
    visibility: hidden;
}

.admin-panel-user{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    width: 90%;
    box-shadow: #8b8b8b 0px 0px 2px;
    border-radius: 2px;
    overflow: hidden;
}

.admin-user-box-title{
    background-color: #1e4bd1;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    box-shadow: #005ebd 0px 0px 5px ;
    margin-bottom: 2%;
    margin-top: 1%;
}

.admin-panel-airport{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    width: 90%;
    box-shadow: #8b8b8b 0px 0px 2px;
    border-radius: 2px;
    overflow: hidden;
}

.admin-panel-flights{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    width: 105%;
    margin-left: -2.5%;
    box-shadow: #8b8b8b 0px 0px 2px;
    border-radius: 2px;
    overflow: hidden;
}

.admin-panel-promotions{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    width: 90%;
    box-shadow: #8b8b8b 0px 0px 2px;
    border-radius: 2px;
    overflow: hidden;
}

.admin-panel-title{
    margin-left: 5%;
}

.admin-panel-line-separator{
    width: 95%;
}

#admin-panel-airport-add-btn{
    margin-left: 25%;
    margin-bottom: 2%;
    width: 50%;
}

#admin-panel-flight-add-btn{
    margin-left: 25%;
    margin-bottom: 2%;
    width: 50%;
}

#admin-panel-promotion-add-btn{
    margin-left: 25%;
    margin-bottom: 2%;
    width: 50%;
}

.modal-title{
    text-align: center;
    font-size: 26px;
}

.modal-success-body{
    text-align: center;
    font-size: 16px;
}

.modal-error-body{
    text-align: center;
    font-size: 16px;
}

.admin-panel-search-box{
    margin-left: 70%;
    margin-top: -4%;
    overflow: hidden;
}

.footer-clean {
    padding: 50px 0;
    background-color: #fff;
    color: #4b4c4d;
    box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}